.benefits {
  display: flex;
  justify-content: space-between;
  padding: 228px 0px;
}

.benefits-card {
  max-width: 350px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefits-card__pic {
  margin-bottom: 30px;
}
.benefits-card__title {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.benefits-card__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  .benefits {
    display: none;
  }
}