.viewed {
  margin-top: 133px;
}
.viewed__title {
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.viewed__list {
  position: relative;
}
.viewed__list .slick-arrow {
  position: absolute;
  top: 180px;
  width: 40px;
  height: 40px;
  font-size: 0px;
  transition: opacity 0.4s ease-in;
}
.viewed__list .slick-next {
  right: -20px;
  background: url(../img/slider-button.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}
.viewed__list .slick-prev {
  left: -20px;
  transform: rotate(180deg);
  background: url(../img/slider-button.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}
.viewed__list .slick-disabled {
  opacity: 0;
  cursor: auto;
}

.products-card__status {
  position: relative;
  padding-left: 22px;
  font-size: 16px;
}
.products-card__status::before {
  content: " ";
  position: absolute;
  top: 3px;
  left: 0px;
  width: 12px;
  height: 12px;
  background: url(../img/green-circle.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.products-card__head.is-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-card__number.is-color {
  color: black;
}
.products-card__details.is-mb-0 {
  margin-bottom: 0px;
}
.products-card__comment.is-margin {
  margin-bottom: 26px;
}
.products-card__button.is-mar {
  margin-right: 2px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

@media (max-width: 768px) {
  .viewed {
    margin-bottom: 100px;
  }
  .viewed__title {
    font-size: 24px;
    font-weight: 400;
    margin-left: 15px;
  }
  .viewed__list .slick-track {
    gap: 15px;
  }
  .viewed .slick-list {
    overflow: visible;
  }

  .products-card__button.is-mar {
    margin-right: 0px;
  }
}