.products {

}

.products-head {

	&__page {
        display: flex;
        align-items: flex-end;
        padding: 20px 0px 50px 0px;
	}
	&__link {
        position: relative;
        padding: 0px 10px 0px 16px;
        color: #8D8D8D;
	}
    &__link:focus {
        
        color: #464646;
	}
    &__link::before {
        content: " ";
        position: absolute;
        top: 4px;
        left: 0px;
        width: 6px;
        height: 6px;
        background-image: url(../img/Ellipse.svg);
        background-repeat: no-repeat;
        background-size: cover;
	}
    &__link:first-child::before {
        display: none;
	}
    &__link:first-child {
        padding-left: 0px;
	}
    &__view {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin-bottom: 30px;
     }
	&__title {
        
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 35px;
	}
    &__buttons {
        display: flex;

    }
	&__btn {
        width: 18px;
        height: 18px;
        margin-left: 20px;
        background: transparent;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 2px;
        &.is-grid {
            background: url(../img/grid-grey.svg); 
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 0.3s ease;
        }
        &.is-grid:focus {
            background: url(../img/grid-green.svg); 
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 0.3s ease;
        }
        &.is-lines {
            background: url(../img/lines-grey.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 0.3s ease;
        }
        &.is-lines:focus {
            background: url(../img/lines-green.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 0.3s ease;
        }
	}
    &__btn img {
        border-radius: 2px;
    }
}

.products-catalog {
    display: flex;
}
.products-aside {
    position: sticky;
    top: 0px;
    align-self: baseline;
    width: 352px;
    background-color: #282828;
}

// ASIDE FORM - START

.aside-form {
    display: flex;
    flex-direction: column;
    width: 352px;
    
    &__head {
        padding: 30px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #111111;
    }
	&__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
	}
    &__drop-down {

    }
    &__options {
        display: flex;
        flex-direction: column;
        padding: 0px 25px;
    }
	&__option {
        padding: 26px 18px;
        margin-bottom: 15px;
        font-size: 18px;
        border: 2px solid #464646;
        background: #282828;
        color: #BCBCBC;
        transition: 0.3s;
        -webkit-appearance: none;
	}
    &__option:hover {
        border: 2px solid #8D8D8D;
        transition: 0.3s;
    }
    &__option:focus{
        border: 2px solid #00D093;
        transition: 0.3s;
    }
    &__option:nth-child(1) {
        margin-top: 45px;
	}
    &__option:last-child {
        margin-bottom: 45px;
	}
    &__buttons {
        display: flex;
        justify-content: space-between;
        
    }
    &__button {
        position: relative;
        padding: 35px 0px;
        
        max-width: 176px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        background: #282828;
        border: 2px solid #00D093;
        color: #8D8D8D;
        transition: 0.3s ease;
        &.is-green {
            position: relative;
            text-align: center;
            padding-right: 25px;
            color: #111111;
            background: #00D093;
        }
        &.is-green::after {
            content: " ";
            position: absolute;
            top: 36px;
            right: 20px;
            width: 16px;
            height: 22px;
            background-image: url(../img/aside-buttom.svg);
            background-repeat: no-repeat;
            background-size: cover;
            transition: 0.3s ease;
        }
        &.is-green:hover:after {
            content: " ";
            right: 20px;
            transform: scale(1.3);
            transition: 0.3s ease;
        }
        &.is-white:hover {
                
            color: #BCBCBC;
            font-weight: 700;
            transition: 0.3s ease;
        }
    }
    
}


// ASIDE FORM - END


.products-cards {
    
    
    margin-left: 22px;

	&__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
	}
}

// PRODUCT OPTIONS - START

.products-options {
    display: flex;
    flex-wrap: wrap;

    
	&__item {
        position: relative;
        padding: 16px 10px;
        
        
        color: #3D3D3D;
	}
    
    &__item::before {
        content: " ";
        border: 1px solid #BCBCBC;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        
        
    }
    &__item:hover:before {
        content: " ";
        border: 2px solid #111111;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        
    }
    &__item:focus:before {
        content: " ";
        border: 2px solid #111111;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    &__item:focus {
        font-weight: 700;
    }
    &__item:active {
        color: #ffffff;
        background-color: black;
        transition: 0.3s ease;
    }
    &__item:focus {
        
        
    }
}

// PRODUCT OPTIONS - END

// PRODUCT CARD - START

.products-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 2px;
    max-width: 372px;
    width: 100%;
    background: #FFFFFF;
    

	&__head {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10px;
	}
	&__comment {
        padding-left: 45px;
        padding-top: 17px;
        position: relative;
        font-weight: 700;
        color: #BCBCBC;
	}
    &__comment::before {
        content: ' ';
        position: absolute;
        width: 46px;
        height: 46px;
        top: 0px;
        left: 0px;
        background: url(../img/comment.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
	&__star {
        margin-left: 55px;
	}
	&__picture {
        margin: 0 auto;
        max-width: 323px;
        max-height: 246px;
        width: 100%;
        height: 100%;
        object-fit: cover;

	}
    &__picture img {
        width: 100%;
    }
	&__price-and-number {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
	}
	&__price {
        font-size: 20px;
        font-weight: 700;
	}
	&__number {
        font-size: 16px;
        color: #BCBCBC;
	}
	&__description {
        flex: 1 1 auto;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
	}
	&__details {
        
        margin-bottom: 17px;
        line-height: 24px;
        font-weight: 300;
	}
    &__details span {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #00D093;
    }

	&__buttons {
        display: flex;
	}
	&__button {
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 500px;
        width: 100%;
        height: 62px;
        font-size: 18px;
        font-weight: 500;
        border: 2px solid #111111;
        background-color: white;
        transition: ease 0.2s;

        &.is-button:hover {
            background-color: #ddfff5;
            color: black;
            transition: ease 0.2s;
        }
        &.is-black {
            color: white;
            background-color: black;
            transition: ease 0.4s;
        }
        &.is-black:hover {
            transform: scale(1.1);
            transition: ease 0.3s;
            border-radius: 5px;
        }
	}
    
}

// PRODUCT CARD - END

// SHOW MORE BUTTON - START

.show-more {
    padding: 42px 0px;
    width: 100%;
    text-align: center;
    margin-left: 20px;
    border-bottom: 2px solid #464646;


    &__button {
        
        
        position: relative;
        padding-right: 70px;
        font-family: 'Open Sans', sans-serif ;
        font-size: 24px;
        background: #E5E5E5;
        
    }
    &__button::after {
        content: ' ';
        position: absolute;
        top: -6px;
        right: 0px;
        width: 45px;
        height: 40px;
        background-image: url(../img/show-more.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// SHOW MORE BUTTON - END

// Media - start

@media (max-width: 1160px) {
    .show-more {
        text-align: start;
        padding-left: 20px;
    }
}
@media (max-width: 850px) {
    .products-aside {
        position: static;
    }
    .show-more {
        text-align: center;
        padding-left: 0px;
        margin-left: 0px;
    }
    .show-more__button {
        font-size: 16px;
    }

    .products-aside {
        width: 100%;
        margin-bottom: 20px;
    }
    .aside-form {
        width: 100%;
    }
    .aside-form__buttons {
        padding: 0px 25px;
    }
    
    .products-catalog {
        flex-wrap: wrap;
    }
    .products-cards {
        margin-left: 0px;
    }
    .products-card {
        max-width: 349px;
        width: 100%;
    }
}

@media (max-width: 777px) {
    .products-card {
        max-width: 700px;
        width: 100%;
        margin-bottom: 10px;
    }
    .products-card:last-child {
        margin-bottom: 0px;
    }
    .products-head__page {
        padding: 20px 0px 15px 0px;
    }
    .products-head__view {
        margin-bottom: 15px;
     }
    .show-more__button::after {
        background-image: url(../img/show-more-green.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-width: 480px) {
    .aside-form__button::after {
        display: none;
    }
    .aside-form__button {
        
        &.is-green {
            padding-right: 0px;
        }
    }
    
    
    .aside-form__buttons {
        padding: 0px;
    }

}

@media (max-width: 438px) {

}

@media (max-width: 410px) {
    .aside-form__title {
        font-size: 20px;
        line-height: 28px;
    }
    .products-head__title {
        font-size: 20px;
        line-height: 24px;
        text-transform: none;
    }
}

// Media - end

